{{!< default}}


        <div class="container clearfix">
          <main role="main" class="content">
              {{#foreach posts}}  
              <article class="{{post_class}} post">
                <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <footer class="post-info">Posted on <span class="post-meta"><time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time></span></footer>
                
                <p>{{excerpt characters="600"}}&hellip;</p>
                
                <a href="{{url}}" title="{{title}}">Read more &raquo;</a>
              </article>
              {{/foreach}}

              {{pagination}}
             
          </main>
          


          <aside class="author">
            
            <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
            <p class="name">by <strong>Michael Wellner</strong></p>
            <p class="address">Munich, Germany</p>
            <p class="link"><a href="http://www.michaelwellner.de" title="Michael Wellner">michaelwellner.de</a></p>

            <ul class="social">
              <li><a class="icon-twitter" href="http://twitter.com/cokeSchlumpf" title="Follow me on Twitter"></a></li>
            </ul>

          </aside>
        </div>